body {
    background-color: #95e1e1;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("images/mosaic.jpg");

}

#wrapper {
    background-color: #fff3a3;
    width: 70%;
    margin: 0px auto;
}


header,
nav,
main,
footer {
    padding: 20px;
    border: 5px double #f2aa2e;
    color:#0a415e;
}

main h2 {
    background-color: #fff3a3;
    padding: 6px;
    border-bottom: 6px solid #f56b56;
    color: #0a415e;

    /* values are clockwise */
    margin: 10px 0px 0px 0px;
}

/* styling a div block element box */
div.imageContainer {
    background-color: #a3dede;
    padding: 20px;
    border: 11px double #f56b56;
}

/* styling a img inline element box */
div.imageContainer img {
    width: 180px;
    height: 180px;
    border: 8px ridge #f2aa2e;
    margin: 20px;
    padding: 20px;
    background-color: #a3dede;
}

div.galleryItem {
    background-color: #fff3a3;
    float: center;
    width: 250px;
    height: 250px;
    border: 10px double #f2aa2e;
    padding: 5px;
    margin: 40px;
}

div.galleryItem img {
    width: 100%;
    height: 175px;
}

div.galleryItem p {
    text-align: left;
    color: #0a415e;
}

footer {
    background-color: #fff3a3;
    float: none;
    clear: both;
}