/*html tag selector*/

body {
    background-color: #D28A64;
    font-family: Arial, Helvetica, sans-serif;
}

/*id selector*/
#wrapper {
    background-color: #FCE0BC;
    width: 70%;
    margin: 0px auto; 
    /*top and bottom are no margin, left and right are automatically equal*/
}

/* grouping selector */
h3, h4, h5 {
margin: 0px;
}

h1 {
    color: #BA3D03; 
    font-family: "Bitcount Grid Double", system-ui;
}

/*descendant selectors*/
header h2 {
    color: #E25027;
    font-family: "Lexend Deca", sans-serif;
}

main h4 {
font-size: 12px;
}

main a {
 color: #fff;
 text-decoration: none;
}

/* pseudo class selector */
main a:hover {
 color: #f00;
}

main h2 {
    color: #EA7505; 
}

main h3{
    margin-top:30px;
}

.copyright {
    color: orangered;
}

.author {
    color: whitesmoke;
}